.jumbotron {
  background-image: url('https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg');
  height: 500px;
  background-size: cover;
  z-index: 1;
  background-position: center;
  @include flex(none,center);
    position: relative;
    
    .information-jumbotron{
      width: 550px;
      @include flex(none,none);
      flex-direction: column;
      &>span{
        font-size: 22px;
        margin-top:20px  ;
        
      }
      .offers{
        margin: 30px 0;
        @include flex(none,none);
        flex-direction: column;
        color: $colorOffers;
        font-style: italic;
       
        font-size: 18px;
        span:first-of-type{
          font-weight: bold;
        
        }
      }
      img{
        width: 250px;
      }
      .button{
        .btn-normal{ 
        @include button();
        }
        .btn-trasparent{
          @include button(transparent,black,1px solid black);
        }
      }
  }
  .artist{
     @include artist;
  }
 


}
