main{
    @include container2;
    
    background-color: #E8E8E8;
    .more{
        padding-top: 50px;
        h2{
            text-align: center;
            font-size: 32px;
            margin-bottom: 30px;
            color: #333333;
            font-weight: 400;
            
        }
        .content{
            @include flex(space-between,none);


            .box{
            @include flex(center,center);
            flex-direction: column;
            flex-basis: calc(100% / 3 - 19px);
            
            .img{
                img{
                     width: 100%;
                     height: 100%
                }
               
            }
            .information-box{
                @include flex(space-between,none);
                flex-direction:column;
                height: 100px;
                padding: 10px;
                background-color: white;
                width: 100%;
                font-size: 15px;
            }

            }
        }
      
        

    }




}