main{
    @include container2;
    .bgblue{
        background-color: #3C1567;
    }
    .bgcolordarkgrey{
        background: #3c3c3c;
    }
    .bgbcel{
        background-color: #0072bc;
    }
    background-color: #E8E8E8;
    .more{
        padding-top: 50px;
        h2{
            text-align: center;
            font-size: 32px;
            margin-bottom: 30px;
            color: #333333;
            font-weight: 400;
            
        }
        .content{
            @include flex(space-between,none);


            .box{
            @include flex(center,center);
            flex-direction: column;
            flex-basis: calc(100% / 3 - 19px);
            
            .img{
                img{
                     width: 100%;
                     height: 100%
                }
               
            }
            .information-box{
                @include flex(space-between,none);
                flex-direction:column;
                height: 150px;
                padding: 15px;
                color: $textcolor;
                background-color: white;
                width: 100%;
                font-size: 15px;
                .particular{
                    font-style: italic;
                    color:$coloricon;
                    text-transform: uppercase;
                    padding-right: 5px;
                }
            }

            }
        }
      
        

    }
    .spot{
        padding-top: 50px;
        .content{
            display: flex;
            flex-wrap: wrap;
            .box{
                flex-basis: calc(100% / 2);
                height: 325px;
               color: white;
               position: relative;
                img{
                    width: 80%;
                   
                }

                .information{
                    padding: 50px 35px 0;
                     h2{
                         font-size: 25px;
                     }
                     span{
                        margin: 24px 0;
                        display: block;
                        font-size: 18px
                     }
                     button{
                        @include button(white,black,none ,10px 20px,none);
                     }
                    
                } 
                .artist{
                         @include artist;
                         left: 20px;
                         bottom: 20px;
                     }
            }
            .bg{
                background-size: cover;
                background-repeat: no-repeat;
            }
            .bg.wacom{
                background-image: url("https://www.painterartist.com/static/ptr/images/home/wacom-painter.jpg");
            }
            .bg.paiter{
                background-image: url("https://www.painterartist.com/static/ptr/images/home/painter-master.jpg");
            }
            .bg.business{
                background-image: url("https://www.painterartist.com/static/ptr/images/home/business-education.jpg");
            }
        }
    }




}