// @mixin container {
//   width: $larghezzaDesktop;
//   margin: 0 auto;
//   background-color: green;
// }
@mixin container2 {
  .container {
    width: $larghezzaDesktop;
    margin: 0 auto;
  }
}

@mixin flex($justify:flex-start, $align:center){
  display: flex;
  justify-content: $justify;
  align-items: $align;

}
@mixin button($bgcolor:black,$color:white,$border:none,$padding:15px 25px, $weight:bold) {
  font-size: 18px;
  text-transform: uppercase;
  padding: $padding;
  color: $color;
  outline: none;
  border: $border;
  background-color:$bgcolor;
  font-weight: $weight;
  margin-right: 20px;
  cursor: pointer;
}
@mixin artist {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #E0DBD6;
}