// colori
$colorBlack: #000;
$navTop: #989898;
$colorWhite: #fff;
$grigio: grey;
$coloricon:#009CFF;
$colorHover:#E6E6E6;
$colorOffers:#C70EB9;
$textcolor:#333333;


//altezze e larghezza
$altezzaHeader: 100px;
$altezzaHeaderTop: 45px;
$altezzaHeaderBottom: calc(#{$altezzaHeader} - #{$altezzaHeaderTop});
$larghezzaDesktop: 1200px;

//padding e margin
$padding-10: 10px;
$padding-19: 19px;
$padding-20: 20px;
 $margin-left:20px;
 $margin-left-30:30px;
